RewriteEngine On
RewriteBase /Lesson6/

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ index.php?route=$1&%1 [L]

#RewriteCond %{query_STRING} ^(.*)$
#RewriteRule ^(.*)$ index.php?route=$1&%1

#RewriteCond %{query_STRING} ^(.*)$
#RewriteRule ^(.*)$ index.php?route=$1&%1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
#/?route=$1&%1 [L]